<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" lang="en">
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./CSS/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="potrait" src="/img/nature.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>