<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" lang="en">
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./CSS/style.css">
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
        </div>
        
        {{>footer}}
    </body>
</html>